body {
  margin: 0;
  padding: 0;
  
/*
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
*/
  background-color: #ffffff;
}

.page-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------header-----------------*/

.header {
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  min-width: 744px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  min-width: 466px;
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
}

/*------------/header-----------------*/

.slider-bckg {
  display: flex;
}

.wood {
  min-width: 742px; 
  height: 1001px;
  background: url(/img/backgrounds/wood2.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  float: left;
}
.logs {
  min-width: 624px;
  height: 1043px;
  background: url(/img/backgrounds/logs.jpg) no-repeat; 
  background-size: contain;
  float: right;
}